



.indicator span {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.indicator span.active {
  background-color: #007bff;
}

.wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
}

.accordion {
  height: 600px;
}

.item {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(210, 239, 215);
}

.title {
  color: #ccc;
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0,1,0,1);
}

.content.show {
  height: auto;
  max-height: 9000px;
  transition: all 0.4s cubic-bezier(1,0,1,0);
}
h1 {
  color: black;

}